/* Sayfa stili */
.games-page {
  padding: 50px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 69, 0, 0.8)),
    url('../images/slotsbg1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh; /* Sayfanın tam yüksekliğinde arka plan uygulamak için */
}

/* Arama ve filtreleme bölmesi */
.search-filter-container {
  display: flex;
  justify-content: center; /* Ortalamak için */
  gap: 20px; /* Arama ve filtreleme kutusu arasındaki boşluk */
  margin-bottom: 30px;
  max-width: 20%; /* input ölçüsü */
  margin-left: 100px;
  margin-right: auto;
  margin-top: 20px;
}

.search-filter-container input[type="text"],
.search-filter-container select {
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #ff4500;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.search-filter-container input[type="text"] {
  flex: 2; /* Arama kutusu daha geniş */
}

.search-filter-container select {
  flex: 1; /* Filtreleme kutusu daha dar */
}

.search-filter-container input[type="text"]:focus,
.search-filter-container select:focus {
  outline: none;
  box-shadow: 0 4px 12px rgba(255, 69, 0, 0.5);
}

/* Oyun listesi */
.games-container {
  max-width: 1200px;
  margin: 0 auto;
}

.games-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 sütun sabit */
  gap: 30px; /* Kutular arasındaki boşluk */
  justify-content: center; /* Tüm oyun kutularını ortalar */
  max-width: 1200px; /* Maksimum genişlik belirleyerek oyunları sabit bir alanda tut */
  margin: 0 auto; /* Ortalamak için */
}



.game-item {
  background-color: white;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.game-item img {
  width: 100%;
  object-fit: cover; /* Görsellerin çerçeveye oturmasını sağlar */
  display: block;
}

.game-item h3 {
  font-size: 1.25rem;
  color: #333;
  padding: 15px 10px 0 10px;
  text-align: center;
}

.game-item p {
  color: #777;
  font-size: 1rem;
  text-align: center;
  padding: 0 10px 15px 10px;
}

/* Responsive medya sorguları */
@media (max-width: 1440px) {
  .games-list {
    grid-template-columns: repeat(3, 1fr); /* 1440px için 3 kolon */
  }
}

@media (max-width: 1024px) {
  .games-list {
    grid-template-columns: repeat(3, 1fr); /* 1024px için 2 kolon */
  }
}

@media (max-width: 768px) {
  .search-filter-container {
   
    width: 100%;
    padding-left: 50px;    
    
  }

  .games-list {
    grid-template-columns: repeat(2, 1fr); /* 768px için 2 kolon */
  }

  .game-item {
    width: 100%; /* Tam genişlikte görünmesi */
  }
}

@media (max-width: 425px) {
  .games-list {
    grid-template-columns: repeat(1, 1fr); /* 425px için 1 kolon */
  }

  .game-item {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .games-page {
    padding: 50px 0; /* Soldan ve sağdan padding'i sıfırla */
    background-size: cover; /* Arka planın tamamen ekranı kaplamasını sağla */
    background-position: center; /* Arka plan görselinin düzgün ortalanması */
  }

  .games-list {
    grid-template-columns: repeat(1, 1fr); /* 375px için 1 kolon */
    padding: 0 10px; /* İçeriklerin kenara yapışmasını önle */
  }
}

@media (max-width: 320px) {
  .games-page {
    background-size: cover; /* Arka planın tamamen ekranı kaplamasını sağla */
    background-position: center; /* Arka plan görselinin düzgün ortalanması */
  }

  .games-list {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 10px;
  }
}

/* Arka plan bulanıklaştırma */
.blurred {
  filter: blur(5px);
}

/* Popup stili */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup-actions button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popup-actions button:hover {
  background-color: #ff5733;
}
