/* Genel Ayarlar */
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

/* Sayfa stili */
.games-page {
  padding: 50px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 69, 0, 0.8)),
    url('../images/slotsbg1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh; /* Sayfanın tam yüksekliğinde arka plan uygulamak için */
}

/* Arama ve filtreleme bölmesi */
.search-filter-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
  padding: 0 10px;
}

.search-filter-container input[type='text'] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ff4500;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.search-filter-container input[type='text']:focus {
  outline: none;
  box-shadow: 0 4px 12px rgba(255, 69, 0, 0.5);
}

/* Oyun listesi */
.games-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.games-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Otomatik sütun sayısı */
  gap: 30px;
  justify-items: center;
}

.game-item {
  background-color: white;
  width: 100%;
  max-width: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.game-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.game-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.game-item h3 {
  font-size: 1rem;
  color: #333;
  padding: 5px 5px 0px;
  text-align: center;
}

.game-item p {
  color: #777;
  font-size: 1rem;
  text-align: center;
  padding: 0 10px 15px;
}

/* Responsive medya sorguları */
/* Büyük ekranlar için ayarlar (1200px ve üzeri) */
@media (min-width: 1200px) {
  .games-page {
    padding: 60px 20px;
  }
}

/* Orta ekranlar için ayarlar (768px - 1199px) */
@media (max-width: 1199px) {
  .games-page {
    padding: 50px 15px;
  }
}

/* Küçük ekranlar için ayarlar (0px - 767px) */
@media (max-width: 767px) {
  .games-page {
    padding: 40px 10px;
  }

  .search-filter-container {
    padding: 0 10px;
  }

  .game-item h3 {
    font-size: 1.1rem;
  }

  .game-item p {
    font-size: 0.9rem;
  }
}

/* Çok küçük ekranlar için ayarlar (0px - 425px) */
@media (max-width: 425px) {
  .games-page {
    padding: 30px 5px;
  }

  .search-filter-container {
    padding: 0 5px;
  }

  .game-item h3 {
    font-size: 1rem;
  }

  .game-item p {
    font-size: 0.85rem;
  }
}

/*--------------------- WIN MESSAGE --------------------*/
/* Arka plan bulanıklaştırma */
.blurred {
  filter: blur(5px);
}

/* Popup stili */
.popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 90%;
  margin: 0 10px;
}

.popup-actions button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popup-actions button:hover {
  background-color: #ff5733;
}
