.spin-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgb(0 0 0 / 80%), rgb(255 69 0 / 80%));
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 100px 20px 20px;
}

.slot-machine-container {
  position: relative;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  background-color: #000;
  border: 3px solid gold;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgb(0 0 0 / 70%);
}

.slot-machine-header {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  font-weight: bold;
  color: gold;
  text-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
}

.slot-machine {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #222;
  border-radius: 20px;
  margin-bottom: 20px;
}

/* ANIMATION SECTION */
.reel {
  background-color: #ffff;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  border: 1px solid gold;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.symbols {
  position: absolute;
  width: 150px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin-top: 10px;
  width: 120px;
  height: 120px;
}

.reel.spinning .symbols {
  animation: spinAnimation 0.5s ease-out infinite;
}

@keyframes spinAnimation {
  from {
    transform: translateY(-120px);
  }
  to {
    transform: translateY(240px);
  }
}

/* BUTTON SECTION */
.balance-and-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  gap: 10px;
}

.balance-container {
  flex: 1;
  background-color: #222;
  padding: 10px;
  color: gold;
  font-size: 1.25rem;
  text-shadow: 1px 1px 2px black;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 50%);
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.2s ease;
  text-align: center;
}

.spin-button {
  padding: 25px 30px;
  font-size: 1.5rem;
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
  margin-top: 0;
}

.spin-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.spin-button:hover:not(:disabled) {
  background-color: #ff5733;
  transform: scale(1.05);
}

.win-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(10px);
  color: gold;
  font-size: 12rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.5s ease-in-out,
    visibility 0.5s ease-in-out;
}

.win-overlay.show {
  visibility: visible;
  opacity: 1;
}

.win-overlay p {
  font-size: 5rem;
  margin-top: 20px;
  color: rgb(255 0 0);
}

/* Responsive Media Queries */
@media (max-width: 1024px) {
  .slot-machine-container {
    width: 90%;
  }

  .reel {
    width: 120px;
    height: 120px;
  }

  .spin-button {
    padding: 20px;
    font-size: 1.3rem;
  }

  .balance-container {
    font-size: 1.1rem;
  }

  img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 768px) {
  .slot-machine-header {
    font-size: 2rem;
  }
  .slot-machine-container {
    margin-top: 70px;
  }
  .balance-and-button {
    flex-direction: column;
    gap: 15px;
  }

  .reel {
    width: 100px;
    height: 100px;
  }

  .spin-button {
    width: 100%;
    padding: 20px;
    font-size: 1.2rem;
    margin-right: 0;
  }

  .balance-container {
    width: 100%;
    margin-right: 0;
  }

  img {
    width: 80px;
    height: 80px;
  }

  .win-overlay {
    font-size: 10rem;
  }

  .win-overlay p {
    font-size: 4rem;
  }
}

@media (max-width: 425px) {
  .spin-page {
    padding: 50px 10px;
  }

  .slot-machine-container {
    width: 100%;
    padding: 10px;
    margin-top: 70px;
  }

  .slot-machine-header {
    font-size: 1.5rem;
  }

  .balance-and-button {
    gap: 10px;
  }

  .reel {
    width: 80px;
    height: 80px;
  }

  .spin-button {
    padding: 15px;
    font-size: 1rem;
  }

  .balance-container {
    font-size: 1rem;
    padding: 8px;
  }

  img {
    width: 60px;
    height: 60px;
  }

  .win-overlay {
    font-size: 8rem;
  }

  .win-overlay p {
    font-size: 3rem;
  }
}

@media (max-width: 320px) {
  .spin-page {
    padding: 20px;
  }

  .slot-machine-header {
    font-size: 1.2rem;
    margin-top: 40px;
  }

  .reel {
    width: 60px;
    height: 60px;
  }

  .balance-container {
    font-size: 0.9rem;
  }

  .spin-button {
    padding: 10px;
    font-size: 0.9rem;
  }

  img {
    width: 40px;
    height: 40px;
  }

  .win-overlay {
    font-size: 6rem;
  }

  .win-overlay p {
    font-size: 2.5rem;
  }
}
